  <div class="fixed-bottom px-5 d-flex justify-content-between align-items-end">
    <div>
      <p class="text-muted">Copyright @ {{currentDateStr}} <a href="https://aljabermedical.com" target="_blank">Al-Jaber Medical Check-Up Center , Bangladesh</a></p>
    </div>
    <div>
      <p>Developed By
        <a href="https://aljabermedical.com" target="_blank" class="text-dark-50">
        <img class="vendor-logo" src="./assets/media/logos/logo.lg.al-jaber-medical.png" alt="Al JABER MEDICAL CHECKUP CENTER" height="30px">
        </a>
      </p>
    </div>
  </div>
