<div class="row gy-5 gx-xl-8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <mat-card> <h3>Passenger Information List</h3></mat-card>
  <table mat-table  [dataSource]="dataSource" matSort matSortActive="registrationCode" matSortDisableClear matSortDirection="desc"
         class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4" >
    <ng-container matColumnDef="registrationCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Passenger No</strong></th>
      <td mat-cell *matCellDef="let passenger">
        <div class="d-flex align-items-center">
          <div class="d-flex justify-content-start flex-column">
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">{{passenger.registrationCode}}</a>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="passengerName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  <strong>Passenger Name </strong> </th>
      <td mat-cell *matCellDef="let passenger">
        {{passenger.passengerName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="passportNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Passport No </strong></th>
      <td mat-cell *matCellDef="let passenger">{{passenger.passportNo}} </td>
    </ng-container>

    <ng-container matColumnDef="visaNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Visa No </strong></th>
      <td mat-cell *matCellDef="let passenger">{{passenger.visaNo}} </td>
    </ng-container>

    <ng-container matColumnDef="registrationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Registration Date </strong></th>
      <td mat-cell *matCellDef="let passenger">{{passenger.registrationDate}} </td>
    </ng-container>

    <ng-container matColumnDef="medicalExamDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>M.Exam Date</strong> </th>
      <td mat-cell *matCellDef="let passenger">{{passenger.medicalExamDate}} </td>
    </ng-container>


    <ng-container matColumnDef="medicalExamType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>M.Exam Type </strong></th>
      <td mat-cell *matCellDef="let passenger">{{passenger.medicalExamType}} </td>
    </ng-container>

    <ng-container matColumnDef="medicalResultStatusName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>M.Result Status </strong></th>
      <td mat-cell *matCellDef="let passenger"> <span class="badge badge-light-primary">{{passenger.medicalResultStatusName}}</span></td>
    </ng-container>


    <ng-container matColumnDef="authorizationStatusName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Status </strong></th>
      <td mat-cell *matCellDef="let passenger">
        <span class="badge badge-light-warning">  {{passenger.authorizationStatusName}} </span>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let passenger; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[10, 20, 30]"
    showFirstLastButtons>
  </mat-paginator>

  </div>
