
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.medical {
  float: left;
  width: 20%;
  padding: 0px;
}
